* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
    width: 100%;
}


.search-box {
    background-color: #f8f8f8;
    width: 520px;
    height: 45px;
}

.search-box select {
    font-size: 13px;
}

.search-box input {
    font-size: 13px;
}

.search-box i {
    font-size: 13px;
    cursor: pointer;
}

.support-box small {
    font-size: 13px;
}

.support-box h6 {
    width: 150px;
}

.header-cart {
    font-size: 15px;
}

.fa-user,
.fa-heart {
    cursor: pointer;
}

.main-menu {
    font-size: 13px;
}

.main-menu select {
    font-size: 14px;
}

.sale {
    background-image: url(images/background-pattern.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 40px;
}

.banner-selection {
    padding-top: 10px;
}

.main-banner {
    background-color: #E6F3FB;
    background-image: url(images/slide-1.jpg);
    background-repeat: no-repeat;
    background-position: right 40px top 30px;
    background-size: 700px;
    border-radius: 30px;
    min-height: 516px;
    padding: 35px 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.banner-content {
    width: 55%;
}

.offer-text {
    color: #d8a327;
    font-size: 30px;
    font-family: serif;
    display: block;
    margin-top: -160px;
}

.banner-content span {
    margin-bottom: 20px;
}

.banner-content h1 {
    font-size: 43px;
    font-weight: 700;
    line-height: 1.2;
    font-family: 'Nunito', sans-serif;
    color: #222;
}

.banner-content p {
    color: #777;
    font-size: 13px;
    margin-top: 10px;
    line-height: 1.8;
}

.shop-btn {
    font-size: 13px;
    margin-top: 10px;
    padding: 15px 15px;
    border: 1px solid #000;
    background: transparent;
    border-radius: 6px;
    transition: 0.3s;
}

.shop-btn:hover {
    background: #000;
    color: #fff;
}

.small-banner {
    border-radius: 25px;
    padding: 40px;
    /* height: 288px; */
    display: flex;
    align-items: center;
    overflow: hidden;
}

.green-banner {
    background-color: #EEF5E5;
    background-image: url(images/slide-3.jpg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: contain;
    min-height: 100px;
}

.pink-banner {
    background-color: #F9EBDE;
    background-image: url(images/slide-4.jpg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: contain;
    min-height: 100px;

}

.small-banner banner-discount {
    font-size: 10px;
    color: #000;
    font-family: ' Garamond';
}

.small-banner small {
    display: block;
    letter-spacing: 4px;
    margin: 7px 0;
    font-size: 10px;
}

.small-banner h3 {
    font-size: 26px;
    font-weight: 700;
    line-height: 1.2;
    font-family: 'Nunito', sans-serif;
}

.small-banner a {
    text-decoration: none;
    color: #666;
    font-size: 14px;
}

.selection-title {
    font-size: 1.8rem;
    font-family: 'Nunito', sans-serif;
    color: #222;
    font-weight: 700px;
    margin-bottom: 5px;
}

.btn-link {
    margin-right: 30px;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    text-align: right;
    text-transform: capitalize;
    color: #787878;
}

.swiper-prev {
    width: 32px;
    height: 32px;
    background-color: #F1F1F1;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #222;
    cursor: pointer;
}

.selection-title {
    margin-top: -25px;
}

.slider {
    overflow: hidden;
    width: 100%;
    padding-top: 0;
    margin-top: -40px;
}

.slider-track {
    display: flex;
    width: fit-content;
    animation: scroll 15s linear infinite;
}

.card {
    border: none;
    width: 180px;
    background: #fff;
    margin-right: 10px;
    padding: 15px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    cursor: pointer;
    text-align: center;
    flex-shrink: 0;
    text-align: center;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.card img {
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 10px;
    align-items: center !important;
    text-align: center !important;
    justify-content: center !important;
    transition: transform 0.3s ease;
}

.card img:hover {
    transform: scale(1.2);
}

.card h4 {
    font-size: 16px;
    padding-top: 25px;
    font-family: 'Nunito', sans-serif;
    color: #222;
    font-weight: 700px;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.brand-title {
    margin-top: -25px;
    font-family: 'Nunito', sans-serif;
}

.brand-slider {
    overflow: hidden;
    width: 100%;
    padding-top: 0;
    margin-top: -40px;
}

.brand-slider-track {
    display: flex;
    width: fit-content;

    animation: scroll 15s linear infinite;
}

.brand-card {
    border: none;
    width: 320px;
    background: #fff;
    margin-right: 10px;
    padding: 15px;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 15px;
    transition: all 0.3s ease;
    cursor: pointer;
    text-align: center;
    flex-shrink: 0;
    text-align: center;
}

.brand-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    background: #f8f8f8;
}

.brand-card img {
    width: 95px;
    height: 95px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.brand-card img:hover {
    transform: scale(1.2);
}

.brand-content {
    display: flex;
    text-align: left;
    flex-direction: column;
}

.brand-content p {
    margin-bottom: 5px;
    font-size: 13px;
    color: #212529bf;
}

.brand-content h4 {
    font-size: 16px;
    padding-top: 0;
    line-height: 1.4;
    margin: 0;
    font-family: 'Nunito', sans-serif;
    color: #222;
    font-weight: 700px;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.trending-products {
    padding: 10px 20px;
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.section-header h2 {
    font-size: 25px;
    color: #222;
    font-weight: 700;
}

.product-filter {
    display: flex;
    gap: 20px;
    list-style: none;
}

.product-filter li {
    font-size: 13px;
    font-weight: 600;
    color: #777;
    cursor: pointer;
    transition: 0.3s;
}

.product-filter .active {
    border-bottom: 2px solid#ffc43f;
    padding-bottom: 1 4px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
}

.product-card {
    background: #f8f8f8;
    border-radius: 14px;
    padding: 12px;
    position: relative;
    transition: all 0.3s ease;
    overflow: hidden;
}

.product-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
}

.discount {
    position: absolute;
    top: 22px;
    left: 22px;
    background: #8bc34a;
    color: #fff;
    padding: 4px 8px;
    border-radius: 6px;
    font-size: 10px;
    font-weight: 600;
}

.wishlist {
    position: absolute;
    top: 18px;
    right: 18px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: #fff;
    transition: 0.3s;
    font-size: 14px;
}

.wishlist:hover {
    background: #f70202;
    color: #fff;
    cursor: pointer;
}

.product-image {
    width: 100%;
    height: 140px;
    background: #f1f1f1;
    background-size: cover;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-image img {
    top: 10px;
    width: 180px;
    height: 180px;
    object-fit: contain;
    transition: 0.3s ease;
}

.product-card:hover .product-image img {
    transform: scale(1.08);
}

.product-title {
    font-size: 16px;
    color: #222;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: 700;
    line-height: 24px;
}

.rating {
    font-size: 12px;
    color: #777;
    margin-bottom: 6px;
}

.price {
    font-size: 18px;
    font-weight: 700;
    color: #222;
    margin-bottom: 12px;
}

.cart-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quantity {
    display: flex;
    align-items: center;
    gap: 6px;
}

.quantity button {
    width: 24px;
    height: 24px;
    border: none;
    background: #F1F1F1;
    border-radius: 5px;
    cursor: pointer;
    font-size: 13px;
    transition: 0.3s;
}

.cart-btn {
    border: none;
    background: transparent;
    font-size: 13px;
    font-weight: 600;
    color: #444;
    cursor: pointer;
    transition: 0.3s;
}

.mobile-menu-btn {
    display: none;
}

@media(max-width:768px) {

    .mobile-menu-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 36px;
        height: 36px;
        border: 1px solid #ccc;
        border-radius: 8px;
        background: #fff;
        margin-left: 10px;
        cursor: pointer;
    }
}

@media (max-width: 1400px) {

    .search-box {
        width: 420px;
    }
}

@media (max-width: 992px) {

    header {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }

    header .d-flex.align-items-center.justify-content-between {
        flex-wrap: wrap;
        gap: 20px !important;
    }

    .search-box {
        width: 100%;
        margin-left: 0 !important;
    }

    .support-box {
        display: none;
    }

    .header-cart {
        display: none;
    }

    .main-menu {
        width: 100%;
        overflow-x: auto;
    }

    .main-menu ul {
        flex-wrap: nowrap !important;
        gap: 18px !important;
        padding-left: 20px !important;
    }
}

@media (max-width: 768px) {


    header {
        padding: 15px !important;
    }

    header .d-flex.align-items-center.justify-content-between {
        flex-direction: column;
        align-items: center !important;
        justify-content: center !important;
        gap: 15px !important;
    }

    header img {
        width: 170px !important;
        height: auto !important;
    }


    .search-box {
        display: none !important;
    }


    .support-box {
        display: none !important;
    }


    .header-cart {
        display: none !important;
    }

    header .d-flex.gap-4.me-4 {
        margin-right: 0 !important;
        gap: 18px !important;
        justify-content: center !important;
        width: 100%;
    }

    header .d-flex.gap-4.me-4 i {
        font-size: 15px;
    }


    .top-nav {
        justify-content: center;
        width: 100%;
        margin-top: 10px;
    }

    .top-nav .row {
        width: 100%;
    }

    .main-menu {
        width: 100%;
        display: flex !important;
        justify-content: center !important;
        align-items: center;
        padding-left: 0 !important;
    }


    .main-menu select {
        width: auto;
        font-size: 12px;
        padding: 6px 10px;
    }


    .main-menu ul {
        display: none !important;
    }


    .main-banner {
        min-height: 420px !important;
        padding: 25px !important;
        background-size: 180px !important;
        background-position: bottom right !important;
        border-radius: 20px;
    }

    .banner-content {
        width: 100% !important;
    }

    .offer-text {
        margin-top: 0 !important;
        font-size: 20px !important;
    }

    .banner-content h1 {
        font-size: 34px !important;
        line-height: 1.2;
    }

    .banner-content p {
        font-size: 12px !important;
        width: 85%;
    }

    .shop-btn {
        padding: 10px 14px !important;
        font-size: 12px !important;
    }


    .small-banner {
        padding: 20px !important;
        min-height: 180px !important;
        margin-bottom: 15px;
        background-size: 120px !important;
    }

    .small-banner h3 {
        font-size: 20px !important;
    }


    .card {
        width: 150px !important;
    }

    .brand-card {
        width: 250px !important;
    }


    .product-grid {
        grid-template-columns: repeat(2, 1fr) !important;
        gap: 15px;
    }

    .product-image img {
        width: 120px !important;
        height: 120px !important;
    }
}


@media (max-width: 480px) {


    header img {
        width: 150px !important;
    }


    .main-banner {
        min-height: 360px !important;
        padding: 20px !important;
        background-size: 140px !important;
    }

    .banner-content h1 {
        font-size: 26px !important;
    }

    .offer-text {
        font-size: 18px !important;
    }

    .banner-content p {
        font-size: 11px !important;
        width: 100%;
    }

    .shop-btn {
        font-size: 11px !important;
        padding: 8px 12px !important;
    }


    .card {
        width: 130px !important;
        padding: 12px !important;
    }

    .card h4 {
        font-size: 14px !important;
    }

    .product-grid {
        grid-template-columns: 1fr !important;
    }

    .product-title {
        font-size: 15px !important;
    }

    .price {
        font-size: 16px !important;
    }

    .cart-section {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .quantity {
        width: 100%;
    }

    .cart-btn {
        width: 100%;
        padding: 10px;
        background: #8bc34a;
        color: #fff;
        border-radius: 6px;
        text-align: center;
    }
}


html,
body {
    overflow-x: hidden;
    width: 100%;
}


img {
    max-width: 100%;
    height: auto;
}


.container-fluid,
.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

@media(max-width:1200px) {

    .search-box {
        width: 420px;
    }

    .banner-content {
        width: 65%;
    }

    .main-banner {
        background-size: 520px;
    }

    .product-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}


@media(max-width:992px) {


    header {
        padding: 20px !important;
    }

    header .d-flex.align-items-center.justify-content-between {
        flex-wrap: wrap;
        gap: 20px !important;
    }

    .search-box {
        width: 100%;
        margin-left: 0 !important;
    }

    .support-box,
    .header-cart {
        display: none;
    }

    .main-menu {
        width: 100% !important;
        padding-left: 15px !important;
    }

    .main-menu ul {
        gap: 15px !important;
        padding-left: 20px !important;
        flex-wrap: wrap !important;
    }

    .main-banner {
        min-height: 420px;
         background-size:160px !important;
        background-position:right 10px center !important;
    }

    .banner-content {
        width: 70%;
    }

    .banner-content h1 {
        font-size: 34px;
    }

    .offer-text {
        margin-top: 0;
        font-size: 24px;
    }


    .small-banner {
        min-height: 200px;
        padding: 30px !important;
    }


    .card {
        width: 160px;
    }


    .brand-card {
        width: 280px;
    }


    .product-grid {
        grid-template-columns: repeat(3, 1fr);
        margin-left: 0 !important;
    }

    .section-header {
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
    }
}


@media(max-width:768px) {

    body {
        overflow-x: hidden;
    }


    header {
        padding: 15px !important;
    }

    header .d-flex.align-items-center.justify-content-between {
        flex-direction: column;
        gap: 15px !important;
    }


    header img {
        width: 160px !important;
    }


    .search-box,
    .support-box,
    .header-cart {
        display: none !important;
    }


    header .d-flex.gap-4.me-4 {
        margin-right: 0 !important;
        justify-content: center;
        width: 100%;
    }


    .top-nav {
        justify-content: center;
    }

    .main-menu {
        width: 100%;
        justify-content: center !important;
        align-items: center;
        padding-left: 0 !important;
    }

    .main-menu ul {
        display: none !important;
    }

    .mobile-menu-btn {
        display: flex !important;
        align-items: center;
        justify-content: center;
        width: 34px;
        height: 34px;
        border: 1px solid #ddd;
        border-radius: 8px;
        background: #fff;
    }

    .main-menu select {
        width: auto !important;
        font-size: 12px !important;
        border: none !important;
        box-shadow: none !important;
    }


    .banner-selection {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }

    .main-banner {
        min-height: 900px;
        padding: 20px;
        border-radius: 18px;

        background-size: 120px !important;

        background-position:left 500px bottom 15px !important;

        background-repeat: no-repeat;
    }

    .banner-content {
        width: 68% !important;
    }

    .offer-text {
        font-size: 18px !important;
    }

    .banner-content h1 {
        font-size: 22px !important;
        line-height: 1.3;
    }

    .banner-content p {
        font-size: 11px !important;
        width: 100%;
    }

    .shop-btn {
        padding: 8px 12px;
        font-size: 11px;
    }


    .small-banner {
        min-height: 140px !important;
        padding: 20px !important;
        background-size: 90px !important;
    }

    .small-banner h3 {
        font-size: 18px !important;
    }


    .selection-header,
    .brand-header {
        flex-direction: column;
        align-items: flex-start !important;
        gap: 10px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .selection-title,
    .brand-title {
        margin: 0 !important;
        padding-left: 0 !important;
    }


    .slider,
    .brand-slider {
        margin-top: 0 !important;
    }

    .card {
        width: 140px !important;
    }

    .brand-card {
        width: 240px !important;
    }


    .trending-products {
        padding: 15px;
    }

    .section-header {
        margin: 0 !important;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .product-filter {
        flex-wrap: wrap;
        gap: 12px;
        padding-left: 0;
    }

    .product-grid {
        grid-template-columns: repeat(2, 1fr);
        margin-left: 0 !important;
        gap: 12px;
    }

    .product-image {
        height: 120px;
    }

    .product-image img {
        width: 110px;
        height: 110px;
    }

    .product-title {
        font-size: 14px;
    }

    .cart-section {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
}

@media(max-width:480px) {


   .main-banner{

        background-size:95px !important;

        background-position:right 8px bottom 10px !important;
    }

     .banner-content{
        width:70% !important;
    }

    .offer-text {
        font-size: 16px !important;
    }

    .banner-content h1 {
        font-size: 18px !important;
    }

    .banner-content p {
        font-size: 10px !important;
    }


    .small-banner {
        min-height: 120px !important;
        background-size: 70px !important;
    }

    .small-banner h3 {
        font-size: 15px !important;
    }


    .card {
        width: 120px !important;
        padding: 10px;
    }

    .card h4 {
        font-size: 13px;
    }

    .brand-card {
        width: 210px !important;
    }


    .product-grid {
        grid-template-columns: 1fr;
    }

    .product-card {
        width: 100%;
    }

    .cart-btn {
        width: 100%;
        background: #8bc34a;
        color: #fff;
        padding: 10px;
        border-radius: 6px;
    }

    .quantity {
        width: 100%;
    }
}

@media(max-width:768px) {

    .brand-header {
        margin-right: 15px !important;
        margin-top: 30px !important;
        margin-bottom: 20px !important;
    }

    .brand-header .d-flex {
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }

    .brand-title {
        font-size: 26px !important;
        margin: 0 !important;
        padding: 0 !important;
    }

    .brand-header .btn-link {
        margin-right: 0 !important;
        font-size: 12px !important;
    }

    .brand-header .swiper-btn {
        margin-right: 70px !important;
        margin-left: 0 !important;
    }

    .brand-slider {
        margin-top: 0 !important;
        padding-left: 10px;
    }

    .brand-card {
        width: 280px !important;
    }
}


@media(max-width:480px) {

    .brand-header {
        margin-left: 10px !important;
        margin-right: 10px !important;
    }

    .brand-title {
        font-size: 22px !important;
    }

    .brand-card {
        width: 280px !important;
    }

    .brand-content h4 {
        font-size: 14px !important;
    }

    .brand-content p {
        font-size: 11px !important;
    }
}
@media(max-width:768px){

    .main-banner{

        background-size:160px !important;

        background-position:right 10px center !important;

        min-height:320px !important;
    }

    .banner-content{
        width:60% !important;
    }
     .green-banner,
    .pink-banner{

        background-size:120px !important;

        background-position:right 10px center !important;

        min-height:170px !important;
    }
}


@media(max-width:480px){

    .main-banner{

        background-size:330px !important;

        background-position:right 5px center !important;

        min-height:290px !important;
    }

    .banner-content{
        width:58% !important;
    }
    .green-banner,
    .pink-banner{

        background-size:300px !important;

        background-position:right 8px center !important;

        min-height:150px !important;
    }
}
@media (max-width:768px){


    header .d-flex.align-items-center.justify-content-between{
        position: relative;
        flex-direction: row !important;
        justify-content: center !important;
        align-items: center !important;
        padding: 10px 15px !important;
    }


    header img{
        width: 300px !important;
        height: auto !important;
        display: block;
        margin: auto;
    }


    .search-box{
        display:none !important;
    }


    .support-box,
    .header-cart{
        display:none !important;
    }


    header .d-flex.align-items-center.gap-4{
        position: absolute;
        bottom: -38px;
        left: 50%;
        transform: translateX(-50%);
        display: flex !important;
        gap: 22px !important;
        margin: 0 !important;
    }


    header .d-flex.align-items-center.gap-4 i{
        font-size: 18px !important;
    }


    .top-nav{
        position: absolute;
        top: 18px;
        left: 15px;
        z-index: 999;
    }


    .main-menu select{
        display:none !important;
    }


    .main-menu ul{
        display:none !important;
    }


    .mobile-menu-btn{
        display:flex !important;
        align-items:center;
        justify-content:center;
        width:55px;
        margin-right: 550px;
        height:55px;
        border-radius:8px;
        border:1px solid #ddd;
        background:#fff;
        font-size:18px;
    }


    header{
        padding-bottom:55px !important;
    }
}

@media (max-width:480px){

    header img{
        width:250px !important;
        margin-left: 50px;
    }

    header .d-flex.align-items-center.gap-4{
        gap:18px !important;
        bottom:-34px;
    }

    header .d-flex.align-items-center.gap-4 i{
        font-size:19px !important;
    }

    .mobile-menu-btn{
        width:45px;
        height:45px;
        font-size:16px;
        margin-right: 350px;
    }
}
@media (max-width:768px){

    header .d-flex.gap-4.me-4{
        display:flex !important;
        align-items:center;
        justify-content:center;
        gap:22px !important;
        margin-right:0 !important;
    }


    header .d-flex.gap-4.me-4 i{
        font-size:24px !important;
    }

    header .d-flex.gap-4.me-4::after{
        content:"\f07a  \00a0\00a0  \f002";
        font-family:"Font Awesome 6 Free";
        font-weight:900;
        font-size:24px !important;
        display:flex;
        align-items:center;
        margin-left:8px;
    }
}


@media (max-width:480px){

    header .d-flex.gap-4.me-4{
        gap:18px !important;
    }

    header .d-flex.gap-4.me-4 i,
    header .d-flex.gap-4.me-4::after{
        font-size:20 !important;
    }
}
@media (max-width:768px){

    header .d-flex.align-items-center.justify-content-between{
        gap:30px !important;
    }

    header img{
        margin-bottom:12px !important;
    }

    header .d-flex.gap-4.me-4{
        margin-top:10px !important;
    }
}

@media (max-width:480px){

    header .d-flex.align-items-center.justify-content-between{
        gap:24px !important;
    }

    header img{
        margin-bottom:10px !important;
    }
}
